<!DOCTYPE html>
<html>
<head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8 />
    <title>JS Bin</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hogwarts</title>


    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/bootstrap-rtl/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    @*<environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
</head>
<body>
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
    <nav class="navbar navbar-default">
        <div class="container-fluid nopad relative">
            <div class="navbar-header text-center">
                <div class="nav-logo-holder">
                    <a href="image/img1.jpg" title="הוגוורטס"></a>
                    @*<img class="top-logo hidden-xs hidden-sm" src="image/img2.jpg"/>*@
                    <span class="hidden-md hidden-lg"></span>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-toggle="collapse" data-target=".navbar-collapse">
                    <div id="navber-hamburger">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div id="navbar-close" class="hidden"></div>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse" style="background-color:black">
                <!-- לוגו -->
                <ul>
                    <li>
                        <img src="/image/logo.png" width="11%" align="right" />
                    </li>
                </ul>

                <!--תפריט ראשי
                -->
                <ul class="nav navbar-nav">
                    <li><a class="main" href="/Home/index">דף הבית</a></li>
                    <li><a class="main" href="/Home/about">עלינו</a></li>
                    <li><a class="main" href="/Atractions/index">אטרקציות</a></li>
                    <li><a class="main" href="/Comments/create">תגובות</a></li>
                    <li><a class="main" href="/Home/Contact">צור קשר</a></li>
                    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("customerId")) && !string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("isAdmin")))
                    {
                        <li><a class="main" href="/Customers">לקוחות</a></li>
                    }
                </ul>@HttpContextAccessor.HttpContext.Session.GetString("customerId")
                @if (string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("customerId")))
                {
                <div style="float: left;padding-top: 30px;">
                    <a class="main btn btn-primary" href="/Customers/Login">התחברות לאתר</a>
                    <a class="main btn btn-success" href="/Customers/Create">הרשמה לאתר</a>
                </div>
                }
                @if (!string.IsNullOrEmpty(@HttpContextAccessor.HttpContext.Session.GetString("customerId")))
                {
                    <script>
                        function hoverIcon() {
                            document.getElementById('popup').classList.toggle("show");
                        }
                        //function hoverIconLeave() {
                        //    document.getElementById('popup').style.display = 'none';
                        //}
                    </script>
                    <div style="float: left;padding-top: 30px;position:relative;">
                        <span onclick="hoverIcon()" class="glyphicon glyphicon-user btn btn-info btn-lg" style="border-radius: 50%;height: 52px;padding: 12px 16px;"></span>
                        <div class="popup" id="popup" style="display:none">
                            <p class="text-primary" style="margin-top:20px;">@HttpContextAccessor.HttpContext.Session.GetString("customer")</p>
                            <a style="margin-top:80px;" href="/Customers/LogOff">התנתק</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="container" style="background-color:black; color: wheat;">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <b class="contain">הכתובת שלנו</b>
                        </div>
                        <div>
                            <b>האגריד 52, קרית אונו</b>
                        </div>
                    </div>
                    <div class="col-md-10" >
                        <div>
                            <a style="color: #fcf8e3; font-weight: bold;" href="/Home/index">דף הבית</a>
                        </div>
                        <div>
                            <a style="color: #fcf8e3; font-weight: bold;" href="/Home/about">עלינו</a>
                        </div>
                        <div>
                            <a style="color: #fcf8e3; font-weight: bold;" href="/Home/Contact">צור קשר</a>
                        </div>
                        <div>
                            <a style="color: #fcf8e3; font-weight: bold;" href="/Atractions/index">אטרקציות</a>
                        </div>
                        <div>
                            <a style="color: #fcf8e3; font-weight: bold;" href="/Customers/create">התחברות לאתר</a>
                        </div>
                        <p style="text-align:center">&copy; 2019 - Hogwarts</p>
                    </div>
                    <div class="col-md-4">
                         <div>
                            <b>טלפון ליצירת קשר</b>
                         </div>
                         <div>
                            <b>03-9090122</b>
                         </div>
                    </div>


                    <!--The div element for the map -->
                    <div id="map"></div>
                    <!-- Replace the value of the key parameter with your own API key. -->
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkUOdZ5y7hMm0yrcCQoCvLwzdM6M8s5qk&callback=initMap">
                    </script>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
                    </script>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</body>
</html>



