@model IEnumerable<Hogwarts.Models.Comments>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<h2 class="title">נשמח לשמוע את דעתך</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opinion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opinion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mark)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
        <form action="#" method="post">
            <h3>Post a comment</h3>
            <p>
                <label for="name">Name</label>
                <input name="name" id="name" type="text" required="">
            </p>
            <p>
                <label for="email">E-mail</label>
                <input name="email" id="email" type="email" required="">
            </p>
            <p>
                <label for="website">Website</label>
                <input name="website" id="website" type="url">
            </p>
            <p>
                <label for="comment">Comment</label>
                <textarea name="comment" id="comment" required=""></textarea>
            </p>
            <p><input type="submit" value="Post comment"></p>
        </form>
    </tbody>



</table>
