@model IEnumerable<Hogwarts.Models.Atractions>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

<script>
    var data = @ViewBag.data;
    function addToCart(attractionId, price) {
        var arr;
        var date = new Date();
        var dateStr = date.toLocaleString()

        var storage = localStorage.getItem('shoppingCart');
        if (!storage) { // First item
            arr = [{
                id: attractionId,
                count: 1,
                date: dateStr,
                price
            }];
        } else { // There are selected items
            arr = JSON.parse(storage);
            var idx = arr.findIndex(item => item.id === attractionId);
            if (idx !== -1) { // Item already selected
                arr[idx].count++;
                arr[idx].date = dateStr;
            } else { // New item
                arr.push({
                    id: attractionId,
                    count: 1,
                    date: dateStr,
                    price
                });
            }
        }
        localStorage.setItem('shoppingCart', JSON.stringify(arr));
    }
    </script>

    <div class="attractions-title">
        <h2 class="title">אטרקציות</h2>
        <a class="shopping-cart-wrapper" href="/Orders/index">
            <img src="~/image/shoppingCart.png" class="shopping-cart" alt="shopping cart">
        </a>
    </div>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="card-deck">
        @foreach (var attraction in Model)
        {
            <div class="card">
                <img src="@attraction.Address" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@attraction.Name</p>
                </div>
                <div class="card-footer" onclick="addToCart(@attraction.Id, @attraction.TicketPrice)">
                    <b>הוסף לסל</b>
                    @*@Html.ActionLink("הוסף לסל", "AddToCart", attraction)*@
                </div>
            </div>
        }
    </div>

